<% form_for @user do |f| %>
  <div>
    <%= f.label :name %> <br/>
    <%= f.text_field :name %> <%= error_message_on @user, :name, :prepend_text => "This field " %>
  </div>
  <br/>
  <div>
    <%= f.label :email %> <br/>
    <%= f.text_field :email %> <%= error_message_on @user, :email, :prepend_text => "Email " %>
  </div>
  <div>
    <%= f.submit 'Register User' %>
  </div>
<% end %>