<div class='unit header'>
  <h1>Account Registered</h1>
</div>
<div class="unit body">
  <div class="container">
    Please sign in so you can access you account and change your password then.
    <% form_for :session, :url => sessions_path do |f| %>
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password %>
      </div>
      <div class="actions">
        <%= f.submit "Sign in" %>
      </div>
    <% end %>
  </div>
</div>