<head><%= javascript_include_tag 'js/users' %></head>
  <div class="column">
    <div class="container">
      <div class="unit header">
        <div class="container">
          <h1><%= @user.name %></h1>
        </div>
      </div>
  
      <div class="unit body">
        <div class="columns on-3 same-height">
        
          <div class="column span-2 content">
            <div class="columns on-2">
            <% @user.projects.each do |project| %>
              <div class="column content">
              <div class="container full-height">
                <%= project.name %>
                <input type="button"class="task" name="<%= project.id%>" value="Add Task"/>
                <div class="task_list" id="task_list_<%=project.id%>">
                  <% unless project.tasks.empty? %>
                    <% project.tasks.each do |task| %>
                      <% if task.user_id == @user.id %>
                        <%= render task if task.created_at.today? %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <% form_for [@user, @task], :html => { :id => "#{project.id}" } do |f| %>
                  <%= f.hidden_field :project_id, :value => project.id %>
                  <%= f.label :content, "Task" %>
                  <%= f.text_field :content %>
                  <%= f.submit 'Submit' %>
                <% end %>
              </div>
              </div>
            <% end %>
            </div>
          </div>
        
          <div class="column sidebar">
            <div class="container full-height">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            </div>
          </div>
      
        </div>
      </div>
  
      <div class="unit footer">
      </div>  
    </div>
  </div>