<head><%= javascript_include_tag 'js/users' %></head>

<div id="container">
    
  <div id="header">
    <%= render 'shared/header' %>
    
    <div id="menu">
      <ul>
        <li><%= link_to 'Dashboard', root_path %></li>
        <% if current_user.admin %>
        <li><%= link_to 'Admin', admin_users_path%></li>
        <% end %>
      </ul>
    </div>
  </div>
    
  <div id="content">
    <div id="leftBox">
      
      <div id="pageIntro">
        <h2><%= @user.name %></h2>
        <%= link_to 'Edit', edit_user_path(@user) %>
        <p>My profile.</p>
      </div>
      
      <div class="contentBox" id="forms">
        <div class="contentBoxTop">
          <h3>Profile</h3>
        </div>
        <div class="innerContent" style="overflow:hidden;">
          <h4>Name:</h4><br/>
          <p><%= @user.name %></p><br/>
          <h4>Email:</h4><br/>
          <p><%= @user.email %></p><br/>
          <h4>Projects:</h4><br/>
          <p><% @user.projects.each do |proj| %>
              - <%= proj.name %> -
              <% end %></p><br/>
        </div>
      </div>
      
    </div>
  <br class="clearFix">
  </div>
</div>
