<head>
  <%= javascript_include_tag 'js/projects' %>
</head>
    
<div id="header">
  <%= render 'shared/header' %>
  
  <div id="menu">
    <ul>
      <%= selected_li('Dashboard', root_path) %>
      <%= selected_menu('Project', admin_projects_path, new_admin_project_path)%>
      <%= selected_li('User', admin_users_path) %>
    </ul>
  </div>
</div>
    
<div id="content">
  <div id="leftBox">
    
    <div id="pageIntro">
      <h2><%= @project.name %></h2>
      <%= link_to 'Edit Project', edit_admin_project_path %>
      <p><%= @project.description %></p>
    </div>
    
    <div class="contentBox">
      <div class="contentBoxTop">
        <h3>Tasks</h3>
      </div>
      <% if @tasks.empty? %>
        <div class="innerContent">
          There are no tasks yet on this project.
        </div>
      <% else %>
        <div class="innerContent">
          <table class="sTable">
            <thead>
              <tr>
                <th>Task</th>
                <th>Author</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% @tasks.each do |task| %>
                <tr class="oldRow">
                  <td class="firstCol"><%= task.content %></td>
                  <td class="secondCol"><%= task.user.name %></td>
                  <td><%= task.created_at.to_date %></td>
                <tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

  </div>
  <br class="clearFix">
</div>
