<!DOCTYPE html PUBLIC "-//W3C//DTD 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTDxhtml1-transitional.dtd">
<html>
  <head>
    <%= stylesheet_link_tag 'elastic' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'js/jquery.ui' %>
    <%= javascript_include_tag 'js/elastic' %>
    <%= yield(:head) %>
  </head>
  </body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
